#topbar{
    position: fixed;
    width: 50%;
    height: 4%;
    text-align: center;
    margin-left:500px;
    margin-top: 20px;
    border: 1px inset green;
}

#topbar:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

#sidebar{
    top: 5%;
    position: fixed;
    width: 25%;
    height: 80%;
    margin:30px;
    margin-left:20px;
    border-right: 2px solid green;
}


.filter{
    margin: 6%;
    padding: 1%;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px inset green;
    border-radius: 3px;
    height: 27%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

.filter:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

#groups{
    height: 65%;
    overflow: auto;
}

.filter_heading{
    text-decoration: underline;
    color: green;
}

#main{
    position: absolute;
    top: 5%;
    right: 3%;
    bottom: 3%;
    left: 28%;
    overflow: auto;
    margin-top:50px;
}


#myInput{
    margin-top: 0.5%;
    margin-bottom: 5px;
    width: 80%;
    height: 75%;
    border: none;
    text-align: center;
    font-size: 1.5em;
}

#from, #until{
    width: 95%;
}

#services_available{
    list-style-type: none;
    padding: 0ex;
    margin-top: 5ex;
}

li{
    border: 3% inline gray;
    margin: 15px 400px 20px 200px;
    padding: 2%;
    text-decoration: none;
    font-size: 1em;
    color: black;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 50, 0, 0.15), 0 6px 20px 0 rgba(0, 50, 0, 0.15);
}

li:hover {
    border: 1px solid green;
}


hr {
    border: 1px solid green;
    width:120%;
}

h3{
    width: 50%;
    color: green;
    font-style: normal;
}

#services_available button{
    float: right;
    font-style:bold;
    background-color: #4CAF50;
    color: white;
    height:40px;
    width: 120px;
}

#services_available button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

#services_available span {
    color: green;
}

cite{
    font-style: normal;
    font-size: 0.75em;
}

span.group_id{
    visibility: hidden;
}

body {
    overflow:hidden;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.date_search {
    background-color: #4CAF50;
    color: white;
    height:30px;
    width: 120px;

}