#id_event_type li, #id_transport li {
	list-style: none;
	padding-left: 0px;
}
.form {
	width: 700px;
	margin-bottom: 30px;
	margin-left:500px;
	padding: 20px 20px 20px 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 100, 0, 0.2), 0 6px 20px 0 rgba(0, 100, 0, 0.2);
}
.event_type, .location, .transport, .start_point, .end_point, .description, .vendor, .end_time{
	border:1px inset #808080 ;
	border-radius: 5px;
	padding:20px 20px 20px 20px;
	margin: 30px 30px 30px 40px;
	font-size: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.07), 0 6px 20px 0 rgba(0, 0, 0, 0.07);
}

hr {
	width: 50%;
	text-align:center;
}

.event_type label, label[for=id_service_desc],label[for=id_vendor], label[for=id_end_time], label[for = id_location], label[for=id_start_point], label[for=id_end_point] {
	font-size: 140%;
	display: block;
	padding-bottom: 5px;
	padding-left: 10px;
}

input[type=text] {
  height: 25px;
  position: relative;
  left: 0;
  border: 1px solid #cdcdcd;
  border-color: rgba(0, 0, 0, .30);
  background-color: white;
  font-size: 16px;
}

input[type=radio] {
	position: relative;
    cursor: pointer;
    height: 15px;
    width: 15px;
}

.required {
	color: red;
	font-style: italic;
}

textarea {
	border:none;
	border-bottom: 1px solid black;
	overflow: hidden;
	width:80%;
}
