<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>

    {% if user.is_authenticated %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Pool It!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" >
        <span class="navbar-toggler-icon"></span>s
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/services/services_available">Services available</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/chat/servicelist">Go to service chat</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
              Create New
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/services/servicegroups">Service</a>
              <a class="dropdown-item" href="group/group_creation">Group</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/chat/notify">See all notifications</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle dropleft" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
              User
            </a>
            <div class="dropdown-menu right" aria-labelledby="navbarDropdown" >
              <a class="dropdown-item" href="change_password">Change Password</a>
              <a class="dropdown-item" href="update_details">Update Details</a>
               <a class="dropdown-item" href="signout">Sign Out</a>
            </div>
          </li>
        </ul>
        </div>
        </nav>
        <br>
        <div class="container"> 
        <h2>Hello, {{user.username}}</h2>
        </div>
        <div id="message">
            {% if messages %}
              {% for message in messages %}
               <p  style="color:green; font-size: 150%; border: 1px solid green; border-radius:3px; padding:5px 3px 5px 3px; width: 500px; text-align: center; margin-left:500px; ">{{message}}</p>
              {% endfor %}
            {% endif %}
        </div>
        <br>
        <div class="container">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Group name</th>
                    <th>Admin</th>
                    <th>Description</th>
                    <th>Group hash</th>
                </tr>
            </thead>
        {% for group in user.joined_groups.all %}
                <tr>
                    <td>{{group}}</td>
                    <td>{{group.admin}}</td>
                    <td>{{group.description}}</td>
                    <td>{{group.hash}}</td>
                </tr> 
        {% endfor %}
            </table>
            <br><br>
        </div>
        <div class="invitation" style="margin-left: 50px;">
         <form action="group/join_group" method="POST" class="form-inline">
            {% csrf_token %}
            <input name="code" type="text" placeholder="Invitation Code">
            <button type="submit" class="btn btn-dark ">
                Join
            </button>
        </form>
      </div>
    </div>

    {% endif %}
    <script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
    setTimeout(function(){
      document.getElementById("message").innerHTML = '';
      }, 3000);
    </script>
    <script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</body>
</html>
