<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/main.css' %}">
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>

    {% if user.is_authenticated %}
    <li>Hello, {{user.first_name}}</li>
    <li><a href='signout'>Sign Out</a></li>
    <li><a href="change_password">Change Password</a></li>
    <li><a href="update_details">Update Details</a></li>
    <li><a href="/services/servicegroups">create new service</a></li>
    <li><a href="group/group_creation">Create a group</a></li>
    <li><a href="/services/services_available">Services Available</a></li>
    <br>
    <li><a href="/chat/servicelist">Go to service chat</a></li>
    <br><a href="/chat/notify">See all notifications</a>
    {% for group in user.joined_groups.all %}
        <table>
            <tr>
                <td>{{group}}</td>
                <td>{{group.hash}}</td>
            </tr>
        </table>
    {% endfor %}

    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
     <form action="group/join_group" method="POST">
        {% csrf_token %}
        <input name="code" type="text" placeholder="Invitation Code"><br>
        <button type="submit">
            Join
        </button>
    </form>

    {% endif %}
</body>
</html>