{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Chat Room</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
   
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/color.css' %}">
    

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="{% static 'js/main.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/main.js' %}"></script>

</head>
<body>
    <div class="theme-layout">
        <div class="container-fluid pdng0">
            <div class="row merged">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="login-reg-bg show">

                        <div class="log-reg-area reg" >
                        <div class="log-reg-area reg">
                            <ul id="talk">

                            {% for object in obj_list %}
                            <h2 class="log-title" >{{object.user}}</h2>
                            <h3 class="log-title">{{object.timestamp}}</h3>
                            <div class="results"></div>
                            
                                <div >
                                    </p>{{object.content}}</p>
                                    <label class="control-label" for="input"></label><i class="mtrl-select"></i>
                                </div>
                               

                                
                            {% endfor %} 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form  method="POST" id="post-message" >
        {% csrf_token %}
        <div class="wrapper" id="msg">{{form.as_p}}</div>
        
        <button type="submit" value = "Post">Send</button>
    </form>
    <script>
        $('#post-message').on('submit', function(event){
            event.preventDefault();
            console.log("message sent!")
            create_message();
        });
    </script>
</body>
</html>