<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Group Creation</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <div class="theme-layout">
        <div class="container-fluid pdng0">
            <div class="row merged">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="login-reg-bg show">
                        <div class="log-reg-area reg">
                            {% for object in obj_list %}
                            <h2 class="log-title">{{object.user}}</h2>
                            <h3 class="log-title">{{object.timestamp}}</h3>
            
                                <div >
                                    </p>{{object.content}}</p>
                                    <label class="control-label" for="input"></label><i class="mtrl-select"></i>
                                </div>
                                
                            {% endfor %}    
                                    
                                </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form action="/chat/create" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Send</button>
    </form>
    
</body>
</html>