{% load static %}

<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Services available</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/service.css' %}">
    <script src="{% static 'js/service.js' %}"></script>
</head>
<body>
    
    <div id='topbar'>
    <input type="text" id='myInput' onkeyup="" placeholder="Search for services..">
    <hr>
    </div>

    <div id="sidebar">

    <div class="filter">
        <h2 class='filter_heading'>Groups</h2>
        <div id='groups'>
        {% for group in user.joined_groups.all %}
            <div class='checkbox'>
                <label><input type="checkbox" onchange="GroupToggle()"/><span class='grp'>{{group}}</span></label>
            </div>
        {% endfor %}
            <script>
                var list=document.getElementbyClassName("checkbox");
                var text=document.getElementbyClassName("text");
                for(var i = 0; i< list.legth; i++){
                    list[i].setAttribute("id", "group"+ i + 1);
                    text[i].setAttribute("id", "text"+ i+1)

                }
            </script>
        </div>
    </div>

    <div class="filter">
        <h2 class='filter_heading'>Category</h2>
        <div class='checkbox'>
            <label><button onclick="category('all')">All</button></label>
        </div>
        <div class='checkbox'>
            <label><button onclick="category('Shopping')">Shopping</button></label>
        </div>
        <div class='checkbox'>
            <label><button onclick="category('Food')">Food</button></label>
        </div>
        <div class='checkbox'>
            <label><button onclick="category('Travel')">Travel</button></label>
        </div>
        <div class='checkbox'>
            <label><button onclick="category('Event')">Event</button></label>
        </div>
        <div class='checkbox'>
            <label><button onclick="category('Other')">Others</button></label>
        </div>
    </div>

    <div class="filter">
        <h2 class='filter_heading'>Interested Period</h2>
        <label for='start_date'>From:<br>
            <input type="datetime-local" id="from" name='from' onchange="">
        </label>
        <br>
        <label for='end_date'>Until:<br>
            <input type="datetime-local" id="until" name='until' onchange="">
        </label>
        <br><br>
        <button class="date_search" onclick="ServiceFiltering()">Find Services</button>
    </div>

    </div>

    <div id="main">

    <ul class="middle" id="services_available">
        {% for service in services %}
            <li class='service'>
                <h3>{{service.service_type}} Service</h3>
                <button onclick="join_service(${Service.service_id})">
                    {% if user in service.members.all %}
                        Already A member
                    {% else %}
                        Join Service
                    {% endif %}
                </button> 
                <h3>
                    {% if service.service_type.name == 'Food' or service.service_type.name == 'Shopping' %}
                        {{service.vendor}}
                    {% elif service.service_type.name == 'Travel' %}
                        {{service.start_point}}->{{service.end_point}}
                        <br>
                        <h5>Via {{service.transport}}</h5>
                    {% elif service.service_type.name == 'Event' %}
                        {{service.event_type}}
                        <br>
                        <h5>At {{service.location}}</h5>
                    {% else %}
                        Other service
                    {% endif %}
                </h3>
                <cite>by {{service.initiator.first_name}} {{service.initiator.last_name}}</cite>
                <br><br>
                <span>Start Time: {{service.start_time}}</span><br>
                <span>End Time: {{service.end_time}}</span><br>
                <p>
                    {{service.service_desc}}
                </p>
            </li>
        {% endfor %}
    </ul>

    </div>

</body>
</html>