<!DOCTYPE html>
<html lang='en'>
<head>
    {% load static %}
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Services available</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/service.css' %}">
</head>
<body>
    
<div id='topbar'>
    <input type="text" id='myInput' onkeyup="search_service()" placeholder="Search for services..">
    <hr>
</div>

    <div id="sidebar">

    <div class="filter">
        <h2 class='filter_heading'>Groups</h2>
        <div id='groups'>
        {% for group in user.joined_groups.all %}
            <div class='checkbox'>
                <label class="group"><input type="checkbox" onchange="group_filter()" value="{{group.group_id}}" name="group">{{group}}</label>
            </div>
        {% endfor %}
        </div>
    </div>

    <div class="filter">
        <h2 class='filter_heading'>Category</h2>
        <div class='checkbox'>
            <label><input type="checkbox"  onchange="categories()" name="category" value="Shopping">Shopping</label>
        </div>
        <div class='checkbox'>
            <label><input type="checkbox"  onchange="categories()" name="category" value="Food">Food</label>
        </div>
        <div class='checkbox'>
            <label><input type="checkbox"  onchange="categories()" name="category" value="Travel">Travel</label>
        </div>
        <div class='checkbox'>
            <label><input type="checkbox"  onchange="categories()" name="category" value="Event">Event</label>
        </div>
        <div class='checkbox'>
            <label><input type="checkbox"  onchange="categories()" name="category" value="Other">Other</label>
        </div>
        <div class='checkbox'>
            <label><input type="checkbox"  onchange="categories()" name="category" value="All">All</label>
        </div>
    </div>

    <div class="filter">
        <h2 class='filter_heading'>Interested Period</h2>
        <label for='start_date'>From:<br>
            <input type="datetime-local" id="from" name='from'>
        </label>
        <br>
        <label for='end_date'>Until:<br>
            <input type="datetime-local" id="until" name='until'>
        </label>
        <br><br>
        <button class="date_search" onclick="DateTime()">Find Services</button>
    </div>

</div>  



    <div id="main">
    <ul class="middle " id="services_available" ></ul>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{% static 'js/services.js' %}"></script>
    
</body>
</html>